*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #000;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.container-header{
max-width: 1940px;
margin: 0 auto;
padding: 0 10px;
}
.container{
  width: 1481px;
  padding: 0 10px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  background: url(../image/bg-image.png),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
 height: 1573px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.header-top{
  display: flex;
  justify-content: space-between;
  padding: 58px 85px;
}
.logo{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
}
.header-nav{
  display: flex;
}
.header-nav>li{
  margin-right: 50px;
}
.header-nav>li:last-child{
  margin-right: 0;
}
.header-link{
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.serch{
  opacity: 0.6;
}
.fa-regular{
  width: 18px;
  height: 18px;
  margin-right: 18px;
}
.btn{
background-color: transparent;
border: none;
}

.serch-btn{
color: #fff;
font-size: 17px;
line-height: 23px;
font-weight: 400;
}
.content{
  margin-left: 57px;
margin-top: 80px;
margin-right: 396px;
}
.follow-us{
  display: flex;
  flex-direction: column;
  margin-left: 32px;
    margin-top: 52px;
}
.follow-text{
  display: inline-block;
transform: rotate(90deg);
font-size: 18px;
line-height: 24px;
font-weight: 600;
}  
.fa-brands{
  margin-bottom: 25px;
}
.button {
  text-align: center;
}
.nature-btn{
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-right: 9px;
}
.text{
  text-transform: uppercase;
  color: #FFC178;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 6px;
  position: relative;
}
.nature{
margin-left: 104px;
}
.text::before{
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
background: #FFC178;
left: -95px;
top: 12px;
}
.header-middle{
display: flex;
margin-top: 196px;
}
.header-info{
  font-weight: 900;
  max-width: 950px;
  font-size: 96px;
  line-height: 100px;
}
.header-info>span{
  font-size: 88px;
  font-weight: 400;
}
.tengarra{
  display: flex;
  gap: 232px;
  align-items: center;
  margin-top: -100px;
margin-bottom: 250px;
}
.tengara-img,
.section-text{
  width: 50%;
}
.section-text{
  height: 546px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.enjoy-text{
  margin-left: 96px;
}
.text-info{
  font-size: 64px;
  line-height: 87px;
  font-weight: 700;
}
.enjoy-info{
    max-width: 555px;
}
.section-text>span{
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}
.read-more_btn{
  color: #FBD784;
}
.fa-arrow-right{
  color: #FBD784;
}
.bromo-body{
  background: url(../image/bromo-bg.png),linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
  background-repeat: no-repeat;
  background-size: cover;
 min-height: 985px;
  display: flex;
  align-items: flex-end;
justify-content: space-between;
padding: 41px 46px;
 margin-bottom: 226px;

}
.fa-chevron-left,
.fa-chevron-right{
align-self: center;
}


.bromo-text{
 min-height: 430px;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
}
.bromo-info {
  width: 95px;
}
.bromo-info::after{
    content: "";
      position: absolute;
      width: 74px;
      height: 2px;
      background: #FFC178;
      right: -95px;
      top: 12px;
}
.bromo-together{
max-width: 705px;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}
.bromo-text>span{
max-width: 934px;
font-size: 18px;
line-height: 32px;
}
.row-revers{
  flex-direction: row-reverse;
  margin-top: 0;
}
.footer-header{
  display: flex;
  justify-content: space-between;
  padding: 12px 47px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.3);
  align-items: center;
}
.footer-logo{
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 1%;
}
.get-started>span{
  font-family: 'DM Sans', sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}
.footer-btn{
  font-family: 'DM Sans', sans-serif;
  font-size: 17px;
  line-height: 22px;
  padding: 24px 72px;
  font-weight: 700;
  background: #FFA343;
  border-radius: 8px;
  color: #000;
  margin-left: 55px;
}


