*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-color: #000;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.container-header{
max-width: 1940px;
margin: 0 auto;
padding: 0 10px;
}
.container{
  width: 1481px;
  padding: 0 10px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
header{
  background: url(../image/bg-image.png),linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
 height: 1573px;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-top{
  display: flex;
  justify-content: space-between;
  padding: 58px 85px;
}
.logo{
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1%;
}
.header-nav{
  display: flex;
}
.header-nav>li{
  margin-right: 50px;
}
.header-nav>li:last-child{
  margin-right: 0;
}
.header-link{
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.serch{
  opacity: 0.6;
}
.fa-regular{
  width: 18px;
  height: 18px;
  margin-right: 18px;
}
.btn{
background-color: transparent;
border: none;
}

.serch-btn{
color: #fff;
font-size: 17px;
line-height: 23px;
font-weight: 400;
}
.content{
  margin-left: 57px;
margin-top: 80px;
margin-right: 396px;
}
.follow-us{
  display: flex;
  flex-direction: column;
  margin-left: 32px;
    margin-top: 52px;
}
.follow-text{
  display: inline-block;
transform: rotate(90deg);
font-size: 18px;
line-height: 24px;
font-weight: 600;
}  
.fa-brands{
  margin-bottom: 25px;
}
.button {
  text-align: center;
}
.nature-btn{
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-right: 9px;
}
.text{
  text-transform: uppercase;
  color: #FFC178;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 6px;
  position: relative;
}
.nature{
margin-left: 104px;
}
.text::before{
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
background: #FFC178;
left: -95px;
top: 12px;
}
.header-middle{
display: flex;
margin-top: 196px;
}
.header-info{
  font-weight: 900;
  max-width: 950px;
  font-size: 96px;
  line-height: 100px;
}
.header-info>span{
  font-size: 88px;
  font-weight: 400;
}
.tengarra{
  display: flex;
}
.enjoy-text{
  margin-bottom: 27px;
}



